#quadrato {
    background-color: red;
    width: 100px;
    height: 100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: gold;
    height: 5vh;
}

button {
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

